.sidebarwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(124, 168, 215);
    width:60px;
    
    height: 100vh;
}
.icon{
    color: white ;
}