.chatwrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.mails{
    margin-left: 10px;
    height: 100vh;
    
}
.list{
max-width: 100vw;

overflow-x: hidden;
}
.list :nth-child(2n+0){
cursor: pointer;
}
.pagewrap{
    display: flex;
}

@media(min-width:768px){
    .list{
        max-width: 100vw;
        }
}